In [28]:
# Add the Pandas dependency.
import pandas as pd

In [29]:
# Files to load
file_to_load = "Resources/missing_grades.csv"
student_data_to_load = "Resources/students_complete.csv"
missing_grade_df = pd.read_csv(file_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [33]:
missing_grade_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
reading_score    1
math_score       1
dtype: int64

In [37]:
New_missing_grade_df = missing_grade_df.fillna(85)
New_missing_grade_df

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [38]:
New_missing_grade_df.dtypes

Student ID         int64
student_name      object
gender            object
grade             object
reading_score    float64
math_score       float64
dtype: object

In [39]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [41]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [42]:
# Cast col1 to int32 using a dictionary:

student_data_df.astype({'Student ID': 'object'}).dtypes

Student ID       object
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [44]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df

C:\Users\yuanj\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75